@font-face {
  font-family: 'InfiniteJustice';
  src: url('../font/InfiniteJustice.eot?#iefix') format('embedded-opentype'),  url('../font/InfiniteJustice.woff') format('woff'), url('../font/InfiniteJustice.ttf')  format('truetype'), url('../font/InfiniteJustice.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'InfiniteJustice';
}

#video {
    position: fixed;
    z-index: -1;
}

#video:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(119, 152, 158, 0.75);
}

#video video {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
}

#container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    width: 400px;

    background: #f0725b;
    font-size: 40px;
    text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
}
#container:before, #container:after {
    background: linear-gradient(-45deg, #f0725b 8px, transparent 0), linear-gradient(45deg, #f0725b 8px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 16px 16px;
    content: " ";
    display: block;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 16px;
}

#container:before {
    top: -16px;
}

#container:after {
    bottom: -16px;
    transform: rotate(180deg);
}

h1 {
    padding-top: 206px;
    background: url('../img/logo.png') center top no-repeat;
    background-size: 200px 200px;
    font-size: 1em;
    margin: 10px 0;
}

@keyframes slide-in {
    0% { transform: translateY(-80px); }
    100% { transform: translateY(0px); }
}

@keyframes slide-out {
    0% { transform: translateY(0px); }
    100% { transform: translateY(80px); }
}

.countdown {
    height: 82px;
    margin-top: 30px;
}

.countdown > div {
    float: left;
    width: 25%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    height: 82px;
    overflow: hidden;
}

.countdown b, .countdown span {
    display: block;
}

.countdown b {
    font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.countdown span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.countdown span {
    animation: slide-in 0.5s;
}

.countdown span.out {
    animation: slide-out 0.5s;
}

h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 15px 0;
    font-weight: 300;
    font-size: 0.5em;
}
